<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SampleWAR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>vfspath</display-name>
    <servlet-name>vfspath</servlet-name>
    <servlet-class>com.kylin.vfs.servlet.VFSPathServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vfspath</servlet-name>
    <url-pattern>/vfspath</url-pattern>
  </servlet-mapping>
  <distributable/>
</web-app>